/.idea
/data
/archive_data
/.vscode
dictionaries/LIWC07-EN.dic
text_liwc_dimensions/texas_comments_LIWC.csv
text_liwc_dimensions/California_comments_LIWC_normalised.json
text_liwc_dimensions/California_comments_LIWC.csv
text_liwc_dimensions/florida_comments_LIWC_normalised.json
text_liwc_dimensions/florida_comments_LIWC.csv
text_liwc_dimensions/texas_comments_LICW_aggregated.csv
text_liwc_dimensions/texas_comments_LIWC_normalised.json
text_liwc_dimensions/texas_comments_LICW_aggregated.csv
text_liwc_dimensions_archive/California_comments_LIWC_normalised.json
text_liwc_dimensions_archive/California_comments_LIWC.csv
text_liwc_dimensions_archive/florida_comments_LIWC_normalised.json
text_liwc_dimensions_archive/florida_comments_LIWC.csv
text_liwc_dimensions_archive/texas_comments_LICW_aggregated.csv
text_liwc_dimensions_archive/texas_comments_LIWC_normalised.json
text_liwc_dimensions_archive/texas_comments_LIWC.csv
